#header{
    height: 120px;
    /* background: red; */
}

/*-----------------로고----------------*/

.logo{
    
}


/*--------------------검색창--------------------*/
.search{
    /* background: orange; */
    height: 40px;
}


/*----------로그인-------------*/
.member-menu{
    /* background: skyblue; */
    height: 40px;
}


#body{
    height:auto;
    
   /* background: rgb(0, 30, 128); */
}
.main{
    height:max-content;
    width: 1240px; 
}
.sub-menu{
    margin-top: 30px;
    margin-bottom: 50px;
    
    height: 30px;
    width: 1240px;
    /* background: blue; */
    /* margin-left: 130px; */
    /*margin-left: 350px;*/
}
/*-----媛����댁� 1�� ���� ------------------------*/
.best-item{
    
    
}
.best-item>div{
    height: auto;
    width: 1240px;
    display: flex;
    justify-content: center;
    
}
.best-item>div>div{
    padding-right: 30px;
    padding-left: 30px;
}

/*----------�⑤�� 1�� ���� ������-----------------*/

.ad-video{
    margin-top: 50px;
    height: 470px;
    width: 1240px;
}

/*--------異�泥� ���댄��---------------------------*/
.recomm{
    width: 1240px;
    margin-top: 30px;
}


/*-------------------------------------吏��슧(survey)main start-------------------------- */
/*-------------�꽕臾몄쟾泥댄겕湲�-------------*/
.matching-perfume{
    height: 1000px;
    width: 1240px;
    padding-bottom: 100px;
    background: whitesmoke;
}

/*-------------�꽕臾� �젣紐�,遺��젣紐�-------------*/

.matching-perfume .matching-perfume-head{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
min-height: 0px;
margin-top: 60px;
}

    .matching-perfume .matching-perfume-head h1{
        padding-top: 80px;
        padding-bottom: 40px;
        font-family: '留묒쓬';
        font-size: 40px;
        font-weight: 200;
    }

    .matching-perfume .matching-perfume-head div{
        font-family: '留묒쓬';
        font-size: 26px;
        font-weight: 500;
    }

    .matching-perfume-head ul{
        display: flex;
        padding-bottom: 60px;
    }

    .matching-perfume-head ul li{
        border: solid 1px;
        width: 12px;
        height: 12px;
        border-radius: 7px;
        margin-left: 7.5px;
        margin-right: 7.5px;
    }


    .matching-perfume-head .page li:nth-child(2){
        background: black;
    }
    
    .matching-perfume-head .page2 li:nth-child(3){
        background: black;
    }

    .matching-perfume-head .page3 li:nth-child(4){
        background: black;
    }
    

/*-------------�꽕臾몃━�뒪�듃 �쟾泥� 議곗젙-------------*/
.matching-perfume-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matching-perfume-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    padding: 60px 0;
}
.matching-perfume-list .scent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    padding: 60px 0;
}

    .matching-perfume-list ul li{
        display: flex;
        width: 200px;
        height: 200px;
        align-items: center;
        justify-content: center;
        --text-align: center;
        background:  black;
        color: white;
        font-size: 22px;
        border-radius:150px;
      }

/* �꽕臾� 紐⑸줉 議곗젙 */
      .matching-perfume-list ul li{
        margin:15px;
        overflow: hidden;
      }

         /* ---------------�굹�씠 --------------------*/
            .matching-perfume-list .age li:nth-child(1):hover{
                background: url("../../images/age/10-1.png") no-repeat center;
                background-size: 250px;
                text-indent: 9999px;
            }

            .matching-perfume-list .age li:nth-child(2):hover{
                background: url("../../images/age/20.jpg") no-repeat;
                background-size: 300px;
                text-indent: 9999px;
            }

            .matching-perfume-list .age li:nth-child(3):hover{
                background: url("../../images/age/30.jpg") no-repeat center;
                background-size: 300px;
                text-indent: 9999px;
            }

            .matching-perfume-list .age li:nth-child(4):hover{
                background: url("../../images/age/40.jpg") no-repeat center;
                background-size: 300px;
                text-indent: 9999px;
            }


   
            /* ---------------怨꾩젅 --------------------*/
            .matching-perfume-list .season li:nth-child(1):hover{
                background: url("../../images/season/spring1.jpg");
                text-indent: 9999px;
            }

            .matching-perfume-list .season li:nth-child(2):hover{
                background: url("../../images/season/summer.jpg");
                text-indent: 9999px;

            }

            .matching-perfume-list .season li:nth-child(3):hover{
                background: url("../../images/season/autumn.jpg");
                text-indent: 9999px;
            }

            .matching-perfume-list .season li:nth-child(4):hover{
                background: url("../../images/season/winter.jpg");
                text-indent: 9999px;
            }
        /*--------------------- �뼢 -----------------------*/
            .matching-perfume-list .scent li:nth-child(1):hover{
                background: url("../../images/scent/floral.png");
                background-size: 210px;
                text-indent: 9999px;
                }

            .matching-perfume-list .scent li:nth-child(2):hover{
                background: url("../../images/scent/citrus.png");
                background-size: 210px;
                text-indent: 9999px;
                }

            .matching-perfume-list .scent li:nth-child(3):hover{
                background: url("../../images/scent/aqua.png");
                background-size: 210px;
                text-indent: 9999px;
                }
                
            .matching-perfume-list .scent li:nth-child(4):hover{
                background: url("../../images/scent/woody.png");
                background-size: 210px;
                text-indent: 9999px;
            }

            .matching-perfume-list .scent li:nth-child(5):hover{
                background: url("../../images/scent/powdery.png");
                background-size: 210px;
                text-indent: 9999px;
            }

            .matching-perfume-list .scent li:nth-child(6):hover{
                background: url("../../images/scent/musk.jpg");
                background-size: 210px;
                text-indent: 9999px;
            }

    /*�씠�쟾 / �떎�쓬 踰꾪듉*/

    .matching-perfume-list div{
        display: flex;
        top:600px;
        left: 467.5px;
        font-size: 16px;
        font-weight: bold;
    }
        .matching-perfume-list div a{
            width: 150px;
            height: 50px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            color : black;
            text-decoration: none;
        }
        .matching-perfume-list div a:hover{
            background: black;
            color:white;
            text-decoration: none;
        }


        .matching-perfume-list div{
            display: flex;
            top:600px;
            left: 467.5px;
            font-size: 16px;
            font-weight: bold;
        }
            .matching-perfume-list div a{
                width: 150px;
                height: 50px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
            }
            .matching-perfume-list div a:hover{
                background: black;
                color:white;
            }

/* ------------------------------吏��슧(survey)main end----------------------------- */
/*--------footer---------------------------*/
#footer{
    height: 30px;
    margin-top: 10px;
}
.footer-container{
    height: 100%;
}